{{/*
# SPDX-FileCopyrightText: 2023 Phu Nguyen <phu@kde.org>
# SPDX-License-Identifier: CC-BY-SA-4.0
*/}}

{{ define "head-import" }}
{{ $common := resources.Get "scss/home.scss" }}
{{ $custom := resources.Get "scss/main.scss" }}
{{ $style := slice $common $custom | resources.Concat "scss/bundle.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

{{ define "main" }}
<section id="kHeader" class="carousel">
  <div class="carousel-item active">
    <div class="carousel-item-content">
      <div class="slide-background"></div>
      <div class="carousel-text-overlay">
        <h1>{{ .Title }}</h1>
      </div>
    </div>
  </div>
</section>

<main id="content">
  {{ .Content }}
</main>
{{ end }}
